

.EventsGroupNav-container{
    padding-top: 3rem;
    display: flex;
    width:70%;
    margin:auto


}
.EventsGroupsNav-groups,
.EventsGroupsNav-events
{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
.EventsGroupsNav-groups{
    text-indent: 15px;
}

.navlink-events,
.navlink-groups{
    color:gray
}


.active{
    color: #008294;
    border-bottom: 4px solid #008294;
}
