.group-details-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 2rem;
    border-top: 1px solid rgb(238, 238, 238);

}

.group-details-header{
    display: flex;
    direction:row;
    width: 80%;
    margin:auto

}

.header-image{
    max-width: 500px;
    max-height: 500px;
}

.group-details-header-image{
    height: 350px;
    width: 550px;
    object-fit: cover;
    border-radius: .5rem;
}
 .group-details-info-container{
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items:start;
    padding-left:30px;
    line-height: 2rem;
    max-width: 60%;
 }

 .group-details-city-state,
 .group-details-members-info,
 .group-details-organized-by{
    color:#212121;


 }

 .group-details-name{
    border-top: 0;
    margin-top:0
 }

 .group-details-indent1{
    padding-left: 1rem;

 }
 .group-details-indent2{
    padding-left: 1rem;
 }
 .group-details-indent3{
    padding-left: 1rem;
 }

 .group-details-crud{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
 }

.group-details-create-event,
.group-details-update-group,
.group-details-delete-group{
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: #f65858;
    border: solid #f65858;
    padding: 8px 12px;
    font-size: 1.25rem;
    font-weight: 600;
    height: auto;
    margin:5px;
    text-align: center;
}

.group-details-center-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1.5rem;
    margin-top: 1.5rem;
    /* margin-bottom: 1.5rem; */
    padding-bottom: 1.5rem;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    width:100%;
    font-weight: bold;
    font-size: 1.5rem;
    color:grey
}

.group-details-body{
    height:100%;
    width: 1000%;
}

.group-details-about-text{
    text-align: center;
    margin: 0 1rem


}
.group-details-center-divider{
    /* color: white; */
    text-decoration: none;
    font-size: 1em;
    font-weight: 1;
    padding:0
}


.group-details-create-event,
.group-details-update-group,
.group-details-delete-group{
    font-size: 1rem;

    padding:0 5px;
    min-width: auto
}
.group-details-navlink-events-container{
    text-indent: 15px;
}
.group-details-body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(238, 238, 238) ;
    min-height: 60vh;
}
.group-details-about-text{
    width:80%;
    text-align:left;
    text-indent: 1rem;
    white-space: pre-wrap

}

.group-details-nav-option{
    border-bottom: 4px solid transparent;
}

.group-details-events-body{
    min-height: 300px;
    background-color:rgb(238, 238, 238) ;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top:1rem;
}

.group-details-events-card{
    display: flex;
    flex-direction: row;
    background-color: white;
    height:fit-content;
    border-radius: 8px;
    padding:1rem
}

.group-details-events-date-name-container{
    padding-left:1rem;

}

.group-detials-events-card-date{
    color: #877457;
    font-weight: 500;
}

.group-details-events-card-name{
    font-size:18px;
    font-weight:bold;
    color:black
}

.group-details-events-card-attendees{
    font-size:12px;
    padding-top:1rem;
    color:black
}

.group-details-members-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding:1rem;
    margin: 1rem;
    height:fit-content;
    border:1px solid black;
    border-radius: 8px;
    background-color: white;
}
.group-details-members-header{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.group-details-attendee-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.25rem;
    margin: .25rem;
    border-radius: 8px;
    /* background-color: white; */
    /* border:1px solid black; */

}

.group-details-user-icon{
    padding-right: .5rem;
}
