#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
  padding: 36px 40px 32px;
  position: absolute;
  text-align: center;
  width: 27%;

}
